<nav>
  <style>

    .nav{
      margin-left:280px;
      margin-top:30px;
      margin-bottom:0px;
    }

    .nav li{
      display:inline;
    }

    .nav li a{
      font-family: arial;
      font-size:20px;
      text-decoration:none;
      padding:0 10px;
      color:black;
    }

    nav li a:hover{
      background: #ffb3b3;
      transition:0.7s;
    }
  </style>


    <ul class='nav'>
      <li>  <a href='/five-spice'> Home </a>  </li>
      <li>  <a href='/sauces-and-pastes'> Sauces and Sauces </a>  </li>
      <li>  <a href='/recipes'> Recipes </a>  </li>
    </ul>


  </nav>
