<!DOCTYPE html>
<html>
    <head>
       <meta http-equiv='Content-Type' ; content='text/html'; charset='UTF-8'>
       <title>Dry Fried Green Beans</title>
       <link rel='stylesheet' type='text/css' href='/assets/Kungpao.css'>
   </head>
   <body>
        <h6><% include partials/nav.ejs %></h6>
        <header></header>
        <h1>Dry Fried Green Beans</h1>
          <img alt='GreenBeans' src='/assets/Beans.jpg'>

          <% include partials/subscribe.ejs %>

          <p>Sichuan Dry Fried Green Beans are a very popular dish both in China and US, as Sichuan cuisine becomes more prevalent. This dish is also known as Szechuan dry-fried green beans of Chinese stir-fried green beans but if the restaurant is any good, they are prepared using the same method and quite tasty.</p>
          <p>Deep-frying makes a healthy ingredient very unhealthy. However, when you think about the name of the dish in Chinese, 干煸四季豆(ganbian sijidou), it literally means “dry seared.” So rather than deep-frying the green beans (a method used in restaurants because it’s a faster process), I did just that—seared them in a dry wok without oil. The outcome was brilliant.</p>

      <section id='GreenBeans-recipe'>

        <h3>Cook's Note</h3>
          <div>1.  For vegetarians and vegans, you can easily omit the ground pork (you can just omit it all together or replace it with more of the pickled suimi yacai). It will still be super tasty. </div>

        <h3>Ingredients</h3>
           <ul class='checkbox'>
             <div><input type="checkbox" /> 1 lb green beans </div>
             <div><input type="checkbox" /> 1/4 cup ground pork </div>
             <div><input type="checkbox" /> 2 garlic, smashed and coarsely diced </div>
             <div><input type="checkbox" /> 2 dried red hot peppers, de-seeded and diced </div>
             <div><input type="checkbox" /> 2 tablespoon of sui mi ya cai (碎米芽菜), store bought </div>
             <div><input type="checkbox" /> 1 teaspoon Chinese cooking wine/shaoxing wine </div>
             <div><input type="checkbox" /> 1 1/2 teaspoons soy sauce </div>
             <div><input type="checkbox" /> 1 teaspoon sesame oil </div>
             <div><input type="checkbox" /> Salt,sugar and cooking oil </div>
           </ul>


       <h3>Instructions</h3>
         <p>1. Cap the fresh green beans; Wash and drain.</p>
         <img src='https://thewoksoflife.com/wp-content/uploads/2014/11/dry-fried-string-beans-1.jpg'>
         <p>2. Heat your wok over high heat until just starting to smoke, and add the green beans and salt. Immediately lower the heat to medium low, and sear the green beans for about 20 minutes, stirring occasionally. You want to see small scorch marks on the green beans. Once the beans are somewhat tender, take them out of the wok and set aside.</p>
         <img src='https://thewoksoflife.com/wp-content/uploads/2014/11/dry-fried-string-beans-3.jpg'>
         <p>3. During this process, gather the rest of the ingredients and have them ready. This is always very important to Chinese cooking–the actually time on the stove is usually very short, so having everything prepared and ready to go is essential! </p>
         <img src='https://thewoksoflife.com/wp-content/uploads/2014/11/dry-fried-string-beans-2.jpg'>
         <p>4. Heat the oil in your wok over medium high heat and brown the pork. It should only take a couple minutes.</p>
         <img src='https://thewoksoflife.com/wp-content/uploads/2014/11/dry-fried-string-beans-4.jpg'>
         <p>5. Add the garlic and chili, and stir for 30 seconds. </p>
         <img src='https://thewoksoflife.com/wp-content/uploads/2014/11/dry-fried-string-beans-5.jpg'>
         <p>6. Add the sui mi ya cai, and stir everything together. Cook for another minute. </p>
         <img src='https://thewoksoflife.com/wp-content/uploads/2014/11/dry-fried-string-beans-6.jpg'>
         <p>7. Toss in the seared green beans, cooking wine, soy sauce, sugar, and sesame oil. Crank the heat back up to high and stir-fry for a final minute.</p>
         <img src='https://thewoksoflife.com/wp-content/uploads/2014/11/dry-fried-string-beans-7.jpg'>
         <p>8. Serve hot! Enjoy!</p>
         <img style='height:700px' src='https://thewoksoflife.com/wp-content/uploads/2014/11/dry-fried-string-beans-8.jpg'>
     </section>

      <div class='readmore'>Read More</div>
      <div><i class='down'></i></div>

      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src='/assets/Kungpao.js'></script>
      <% include partials/footer.ejs %>

   </body>
</html>
