<!DOCTYPE html>
<html>
    <head>
       <meta http-equiv='Content-Type' ; content='text/html'; charset='UTF-8'>
       <title>Kung Pao Chicken</title>
       <link rel='stylesheet' type='text/css' href='/assets/Kungpao.css'>
   </head>
   <body>
        <h6><% include partials/nav.ejs %></h6>
        <header></header>
        <h1>Kung Pao Chicken</h1>
          <img style='height:430px' alt='Kungpao' src='/assets/Kungpao.jpg'>

          <% include partials/subscribe.ejs %>

          <p>Kung Pao Chicken (宫保鸡丁) in Chinese is a stir-fried dish with chicken cubes, dried chili pepper and deep-fried peanuts. The tender taste of the chicken matches great with the crispy peanuts with a combined sweet, sour and spicy taste.</p>

      <section id='Kungpao-recipe'>
        <h3>History</h3>
          <p>The name of Kung Pao comes from a court official Ding Baozhen in Qing dynasty. The hero official Ding is a foodie who especially loves stir-fried diced chicken. During the time of being served as governor in Sichuan province, he frequently treats his guest with this dish and add dried chili peppers because People in Sichuan loves to eat hot chili. Later on, he is granted the title Taizi Shaobao also known as Kung Pao, which means the protector of the crown price. People name this dish after him to memory him.In China, chefs usually use chicken thighs to make this dish rather than boneless chicken breasts. The meat of thighs is tenderer but requires more about the cutting skills.</p>

        <h3>Cook's Note</h3>
          <div>1.  About the sauce, the amount of cornstarch used in the mixed stir fry sauce (碗芡) can be slightly different based on the very single dish. For example, in this kung pao chicken, only a small amount is enough since the chicken cubes is coated with starch in the marinating process. In other veggie kung pao dishes, more cornstarch is needed to make the sauce thicker and consequently can attach to the main ingredients.</div>
          <div>2.  Key step of this dish is to be quick and accurate. Transfer the chicken cubes to the edges of the wok (no heat part) until they begins to change color to get the tenderest chicken meat. And be quick after adding the stir frying sauce. </div>

        <h3>Ingredients</h3>
           <ul class='checkbox'>
             <div><input type="checkbox" /> 2 chicken legs</div>
             <div><input type="checkbox" /> ½ cup of <a href=''> fried peanuts </a> (or salt baked ones)</div>
             <div><input type="checkbox" /> 2 leek onion (only white part)</div>
             <div><input type="checkbox" /> 6~8 dried chili peppers (change the amount according to your preference)</div>
             <div><input type="checkbox" /> cooking oil</div>
             <div><input type="checkbox" /> 1 teaspoon whole Sichuan peppercorn ( or Sichuan peppercorn powder )</div>
             <div><input type="checkbox" /> salt</div>
           </ul>

        <h3>Mix sauce for stir fry</h3>
          <ul class='dishes'>
            <li>½ tablespoon dark soy sauce</li>
            <li>1 tablespoon light soy sauce</li>
            <li>a small pinch of salt (around 1/3 tsp.)</li>
            <li>1 inch ginger grated</li>
            <li>1 tablespoon chopped green onion</li>
            <li>2 garlic cloves, finely chopped</li>
            <li>2 tsp.cornstarch</li>
            <li>1 tablespoon vinegar</li>
            <li>2 tablespoons water</li>
            <li>2 teaspoon sugar</li>
          </ul>

       <h3>Instructions</h3>
         <p>1.Cut the meat into long strips and further into one bite cubes.</p>
         <img src='https://www.chinasichuanfood.com/wp-content/uploads/2014/08/Kung-Pao-steps-4.jpg'>
         <p>2.Transfer the chicken to a large bowl and marinating with salt, soy sauce, cooking wine and cornstarch.  This helps to add a basic taste and create a protecting shell for the chicken so we can produce the tenderest chicken.</p>
         <p>3. Cut the leek onion into 1cm sections, slice ginger and garlic.</p>
         <img src=https://www.chinasichuanfood.com/wp-content/uploads/2017/04/Kung-pao-chicken-13.jpg>
         <p>4.Heat up oil in wok until hot, pour in cold oil and then heat until warm. Place the chicken cubes in and let them stay for 3-5 seconds until the starch begins gelatinization. Gently fry until all of the chicken cubes begin to change color.</p>
         <img src='https://www.chinasichuanfood.com/wp-content/uploads/2017/04/Kung-pao-chicken-42.jpg'>
         <p>5.Add in the mixed sauce </p>
         <img src='https://www.chinasichuanfood.com/wp-content/uploads/2017/04/Kung-pao-chicken-43.jpg'>
         <p>6.Fry until the sauce is well coated. Mix with the remaining leek onion white sections and fried peanuts. Transfer out immediately and serve with rice!</p>
         <img src='https://www.chinasichuanfood.com/wp-content/uploads/2017/04/Kung-pao-chicken-40.jpg'>
     </section>

      <div class='readmore'>Read More</div>
      <div><i class='down'></i></div>

      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src='/assets/Kungpao.js'></script>
      <% include partials/footer.ejs %>

   </body>
</html>
