<!DOCTYPE html>
<html>
    <head>
       <meta http-equiv='Content-Type' ; content='text/html'; charset='UTF-8'>
       <title>Mapo Tofu</title>
       <link rel='stylesheet' type='text/css' href='/assets/Kungpao.css'>
   </head>
   <body>
        <h6><% include partials/nav.ejs %></h6>
        <header></header>
          <h1>Mapo Tofu</h1>
            <img style='height:450px' alt='Mapo' src='/assets/Mapo.jpg'>

         <% include partials/subscribe.ejs %>

           <p>Authentic Szechuan style mapo tofu is one of the branding dishes of Szechuan cuisine. It is spicy, numbing, hot, aromatic and tender. Making the yummiest mapo tofu at home for several bowls of steamed rice.</p>
      <section id='Mapo-recipe'>
        <h3>History</h3>
           <p>The origin of mapo tofu can be traced to 1862 during the Qing Dynasty (1644-1911) and to a couple surnamed Chen, who ran Chen Xingsheng Restaurant, a small eatery near Wanfu Bridge in north Chengdu. Unpleasantly, the mapo comes from the pock-marked face of Mrs Chen - ma meaning pock, po meaning elderly woman. Oil porters crossing the bridge would use their stock to save money and ask the Chen restaurant to make them something nice.</p>
           <p>Chen Mapo, as she came to be known, had her own unique way of cooking tofu, famous for its pleasant look, smell and taste. Chengdu Records, published in 1909, shows the restaurant's name was eventually changed to Chen Mapo Tofu Restaurant and listed as one of the 23 most famous restaurants in Chengdu in the late Qing Dynasty. Its flavor, price and suitability with rice meant mapo tofu became a Chinese food staple, spreading nationwide.</p>

      <h3>Ingredients</h3>
        <ul class='checkbox'>
           <div><input type="checkbox" />450 g silken tofu (or Lushui tofu)</div>
           <div><input type="checkbox" />100 g minced meat-beef or pork</div>
           <div><input type="checkbox" />1/2 tbsp. sesame oil</div>
           <div><input type="checkbox" />1+1/2 tbsp Doubanjiang. roughly chopped</div>
           <div><input type="checkbox" />1/2 tbsp Douchi. Roughly chopped</div>
           <div><input type="checkbox" />1 tbsp. pepper flakes or powder ,optional</div>
           <div><input type="checkbox" />1/2 tbsp. Sichuan pepper for making fresh ground powder</div>
           <div><input type="checkbox" />1 tbsp. light soy sauce</div>
           <div><input type="checkbox" />water or broth for braising</div>
           <div><input type="checkbox" />Cooking Oil</div>
           <div><input type="checkbox" />2 scallion whites, finely chopped </div>
           <div><input type="checkbox" />4 garlic greens or scallion greens ,finely chopped</div>
           <div><input type="checkbox" />2 garlic cloves ,finely chopped</div>
           <div><input type="checkbox" />5 ginger slices ,finely minced (around 1 teaspoon)</div>
           <div><input type="checkbox" />Starch(mix 2 and 1/2 tablespoon water and 1 tablespoon cornstarch)</div>
           <div><input type="checkbox" />Salt and sugar for taste</div>
        </ul>
      <h3>Cook's Note</h3>
        <p>1. Rinse or soak  the tofu cubes in boiling water with a little amount of salt can help to make the tofu tenderer and much strong. So you will not break them.</p>
        <p>2. During the processing, only back push to avoid destroying the texture of tofu.</p>
        <p>3. Since both doubanjiang and fermented soy beans are salty, then try the dish before adding any amount of salt.</p>
        <p>4. <strong> How to make grounded Sichuan Peppercorn:</strong> fry the fresh Sichuan peppercorn in  a pan until you can smell the aroma. Transfer out and cool down. Put into food processor to ground into powder.</p>
        <p>5. During the braising process, use slowest fire to cook the tofu. It will absorb the taste with the help of time.</p>

      <h3>Instructions</h3>
        <p>1. Add a small pinch of salt and sesame oil to minced beef. Mix well and set aside.</p>
        <img src='/assets/2.png'>
        <p>2. Mix 1 tablespoon of cornstarch with 2 and 1/2 tablespoons of water in a small bowl to make water starch.</p>
        <p>3. Cut tofu into square cubes (around 2cms). Bring a large amount of water to a boil and then add a pinch of salt. Slide the tofu in and cook for 1 minute. Move out and drain.</p>
        <img src='/assets/3.png'>
        <p>4. Get a wok and heat up around 2 tablespoons of oil, fry the minced meat until crispy. Transfer out beef out and leave the oil in.</p>
        <img src='/assets/4.png'>
        <p>5. Fry doubanjiang for 1 minute over slow fire and then add garlic, scallion white, ginger and fermented black beans to cook for 30 seconds until aroma. Then mix pepper flakes in.</p>
        <img src='/assets/5.png'>
        <p>6. Add water to the seasonings and bring to boil over high fire. Gently slide the tofu cubes. Add light soy sauce and beef.Slow the heat after boiling and then simmer for 6-8 minutes. Then add chopped garlic greens.</p>
        <p>7. Stir the water starch and then pour half of the mixture to the simmering pot. Wait for around 30 seconds and then pour the other half. You can slightly taste the tofu and add pinch of salt if not salty enough. By the way, if you feel it is too spicy, add some sugar can milder the taste. But be carefully as the broth is very hot at this point.</p>
        <p>8. Transfer out when almost all the seasonings stick to tofu cubes. Sprinkle Szechuan peppercorn powder (to taste)and chopped garlic greens if using.</p>
        <img src='/assets/7.png'>
        <p>9. Serve with rice! </p>
     </section>

      <div class='readmore'>Read More</div>
      <div><i class='down'></i></div>

      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src='/assets/Kungpao.js'></script>
      <% include partials/footer.ejs %>

   </body>
</html>
