<!DOCTYPE html>
<html>
    <head>
       <meta http-equiv='Content-Type' ; content='text/html'; charset='UTF-8'>
       <title>Recipes</title>
       <link rel='stylesheet' type='text/css' href='/assets/recipes.css'>
   </head>


   <body>
        <section><% include partials/nav.ejs %></section>
        <header></header>

        <h1>Recipes</h1>
         <section>
           <p>Sichuan, <strong>The Land of Plenty</strong>, has high humidity and many rainy or overcast days. Hot pepper helps reduce internal dampness, so it was used frequently in dishes, and hot dishes became the norm in Sichuan cuisine. The region's warm, humid climate also necessitates sophisticated food-preservation techniques which include picking, salting, drying and smoking.</p>
           <p>Sichuan dishes consist of Chengdu, Chongqing and vegetarian dishes. Masterly used cooking techniques are sauteing, stir-frying without stewing, dry-braising, Pao (soaking in water) and Hui (frying then braising with corn flour sauce). Sichuan cuisine is famous for its distinct and various flavors, the most outstanding ones are fish flavors, pepper powder boiled in oil, strange flavor and sticky-hot.</p>
         </section>

        <h3>Hungry? Check out the recipes below!</h3>
        <form style="margin-left:500px; margin-bottom:10px">
          <div style="margin-left:70px">or search here</div>
          <input style='height:20px; width:250px; margin-left:10px' type="text" placeholder="search..."/>
        </form>
           <section>
             <div class='row'>
               <div class='column'>
                 <div class='card'>
                   <a href='/kungPaoChicken'><img  alt='Kung Pao Chicken' src='/assets/Kungpao.jpg'></a>
                   <div class='container'>
                     <p class='dishName'>Kung Pao Chicken</p>
                     <div>30 min</div>
                     <div>Hot: mild</div>
                     <br>
                   </div>
                 </div>
               </div>
             </div>

             <div class='row'>
               <div class='column'>
                 <div class='card'>
                   <a href='/MapoTofu'><img  alt='Mapo Toufu' src='/assets/Mapo.jpg'></a>
                   <div class='container'>
                     <p class='dishName'>Mapo Toufu</p>
                     <div>30 min</div>
                     <div>Hot: mild</div>
                     <br>
                   </div>
                 </div>
               </div>
             </div>

             <div class='row'>
               <div class='column'>
                 <div class='card'>
                   <a href='/Yuxiang'><img  alt='Yuxiang' src='/assets/Yuxiang.jpg'></a>
                   <div class='container'>
                     <p class='dishName'>Yuxiang Shredded Pork</p>
                     <div>40 min</div>
                     <div>Hot: mild</div>
                     <br>
                   </div>
                 </div>
               </div>
             </div>

             <div class='row'>
               <div class='column'>
                 <div class='card'>
                   <a href='/SuanCaiYu'><img alt='Fish' src='/assets/Fish.jpg'></a>
                   <div class='container'>
                     <p class='dishName'>Suan Cai Yu (Sichuan Boiled Fish)</p>
                     <div>40 min</div>
                     <div>Hot: hot</div>
                     <br>
                   </div>
                 </div>
               </div>
             </div>

             <div class='row'>
               <div class='column'>
                 <div class='card'>
                   <a href='/GreenBeans'><img alt='Str fry beans' src='/assets/Beans.jpg'></a>
                   <div class='container'>
                     <p class='dishName'>Dry Fried Green Beans</p>
                     <div>30 min</div>
                     <div>Hot: mild</div>
                     <br>
                   </div>
                 </div>
               </div>
             </div>

             <div class='row'>
               <div class='column'>
                 <div class='card'>
                   <a href="/SpicyChicken"><img alt='Spicy chicken' src='/assets/SpicyChicken.jpg'></a>
                   <div class='container'>
                     <p class='dishName'>Spicy Chicken</p>
                     <div>40 min</div>
                     <div>Hot: hot</div>
                     <br>
                   </div>
                 </div>
               </div>
             </div>
          </section>

          <footer style='background:pink; margin-top:880px;'>
              <br>
              <img style='width:100px; height:100px; border-radius:50%; margin-bottom:0px; margin-left:610px' src='/assets/profile.JPG'>
              <div style='text-align:center;'>made with love by Zoe Bai</div>
              <br>
              <p style='text-align:center' >Phone:+044 7492762727<p>
              <p style='text-align:center'>Email: s.xue.bai@gmail.com</p>
                <span><a href="#"><img style='display:inline-block; width:60px; height:60px; margin-bottom:0px; margin-left:560px' src='https://cdn4.iconfinder.com/data/icons/social-media-2110/64/Facebook-01-128.png'></a></span>
                <span><a href="#"><img style='display:inline-block; width:60px; height:60px; margin-bottom:0px; margin-left:0px' src='https://cdn4.iconfinder.com/data/icons/social-media-2110/64/Twitter-01-128.png'></a></span>
                <span><a href="#"><img style='display:inline-block; width:60px; height:60px; margin-bottom:0px; margin-left:0px' src='https://cdn4.iconfinder.com/data/icons/social-media-2110/64/Instagram-01-128.png'></a></span>
          </footer>

     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     <script src='/assets/recipes.js'></script>
   </body>
</html>
