<!DOCTYPE html>
<html>

    <head>
      <meta http-equiv='Content-Type' ; content='text/html'; charset='UTF-8'>
      <title>Sauces and Pastes</title>
     <link rel='stylesheet' type='text/css' href='/assets/styles.css'>
    </head>
    <body>
        <div><% include partials/nav.ejs %></div>
        <header></header>

        <h1>Sauces and Pastes</h1>
        <div class='para'>Either you are familiar with Chinese cooking or not, the large ground of sauces used in Chinese recipes sometimes can be quite confusing. This is a post to guide you from the beginner to advanced Chinese cooking–using different types of sauces and paste for flavoring. It includes introduction of various Chinese sauces, pastes, cooking wine, vinegars and oil.</div>

          <img  style='width:800px; height:450px; margin-left:250px; margin-top:10px'alt='seasoning' id='seasoning' src='/assets/sauce.jpg'>
        <h3>Below are the common sauces and pastes we come across</h3>

        <div id='sauceTabs'>
           <ul class='tabs'>
             <li data-target='#SoySauce' class='active'>Soy Sauce </li>
             <li data-target='#Doubanjiang'>Doubanjiang </li>
             <li data-target='#Chili' >Chili Oil and Pastes </li>
             <li data-target='#Oyster'>Oyster Oil</li>
             <li data-target='#Douchi' >Douchi</li>
             <li data-target='#Shacha'>Sha Cha Sauce</li>
             <li data-target='#BrownBean'>Brown Bean Paste</li>
             <li data-target='#Hoisin'>Hoisin Sauce</li>
             <li data-target='#Char'>Char Siu Sauce</li>
             <li data-target='#Sesame'>Sesame Oil & Paste</li>
             <li data-target='#Vinegar'>Cooking Wine & Vinegar</li>

          </ul>

          <div class='panel' id='SoySauce'>
              <p class='title'>Soy Sauce</p>
              <p>Soy sauce should be come firstly since it is the basic for many stir-fry sauces. Soy sauce is a traditional seasoning for Chinese recipe which is made from soy beans, wheat and wheat bran (麸皮). It has a mildly salty flavor and bright red color after fermentation.</p>
              <p>There are three  types of soy sauce: light soy sauce, dark soy sauce and soy sauce pastes. They perform differently in dishes.</p>
              <p><strong style='color:orange'>Light soy sauce(生抽)</strong> has a lighter color than dark soy sauce and it mainly used for adding the flavor. So it is commonly used in stir fry dishes, salad, noodle soups and dipping sauces.  So for most Chinese stir-fry recipe, if only soy sauce is called, use light soy sauce!</p>
              <p><strong style='color:orange'>Dark soy sauce(老抽)</strong> is the common soy sauce with caramel. With a darker the color. It is mainly used for adding the color of the dish. For example in most red-braised dishes, dark soy sauce usually is used.</p>
              <p><strong style='color:orange'>Soy sauce paste (酱油膏)</strong> is sweeteded soy sauce with a thicker texture (quite similar to oyster suace), extremely popular in Taiwan. The most famous brand of soy sauce paste is Kimlan. It can be used in stir-fries, dipping sauces and red-braising (especially taiwan style red-braising like Luroufan.)</p>
              <img style='width:800px; margin-left:65px' alt='soy sauce' src='https://www.chinasichuanfood.com/wp-content/uploads/2014/01/soy-sauce-together.jpg'>
              <img style='width:400px; margin-left:250px; margin-bottom:15px' alt='soy sauce' src='https://www.chinasichuanfood.com/wp-content/uploads/2014/01/Chinese-sauces-picture-copy.jpg'>
          </div>

          <div class='panel' id='Doubanjiang'>
              <p class='title'> Doubanjiang </p>
              <p>For the western part of China, broad bean paste or <strong style='color:orange'>doubanjiang (豆瓣酱)</strong>is a typical chili sauce from Sichuan china.It is the most important ingredients for lots of famous Szechuan dishes, including twice cooked pork belly, mapo tofu, and Sichuan style water boiled fish. After long time fermentation, doubanjiang has a unique spicy flavor.</p>
              <p>There are several Pixian doubanjiang brands in China but only 2 of them popular outside China (Juancheng and DanDan). Housewives in Sichuan province love to make red oil doubanjiang, which is usually kept in a jar.</p>
              <img style='width:800px; margin-left:65px; margin-bottom:15px' alt='Doubanjiang' src='https://www.chinasichuanfood.com/wp-content/uploads/2014/01/pixian-doubanjiang-for-Chinese-sauces.jpg'>
          </div>

          <div class='panel' id='Chili'>
              <p class='title'>Chili Oil and Pastes</p>
              <p>In different Chinese cuisine especially Sichuan cuisine, condiments and seasonings are quite important. Since chili pepper and Sichuan peppercorn are the most two important condiments in Sichuan cuisine. Besides, combined Szechuan style chili oil is also an important seasoning, not shining but indispensable to your kitchen.</p>
              <p><strong style='color:orange'>Szechuan Chili Oil(辣椒油)</strong> A toasty, subtly fiery chile oil to drizzle over soup ot dip with dumplings. It's worth making a large batch; the oil will keep at room temperature for a year</p>
              <p>sometimes is simplified as Chinese chili oil is made with red pepper flakes, spices and oil. With a well balanced mala taste, it is one of the most essential ingredients for lots of Sichuan dishes like red oil wonton, mouthwatering chicken and dan dan noodles.</p>
              <img style='width:400px; margin-left:250px; margin-bottom:15px' alt='Chili Oil' src='/assets/Chili_Oil.jpg'>

              <p><strong style='color:orange'>Laoganma(老干妈)</strong> If you ever visit any Chinese restaurants, you will find chili oil or chili sauces on the table as a customer self-serve sauce. They can almost go well with everything Chinese. A dumpling dipping sauce, a bowl of congee, warm noodles soups or even steamed buns.  They are several types of chili oil and sauces that are loved by Chinese foodies. The most famous one might be Laoganma, we sometimes joke that she is the godmother of all lazy Chinese foodies.  Back in 1996, Tao Huabi opened a small shop selling noodles, but she became quite popular due to her great taste chili sauce. Years later, after shutting down the small shop, Tao Huabi devoted herself into a chili sauce production line.  The two most popular chili oils from Laoganma are crisp chili oil and black bean chili oil. And I love chicken oil chili sauce too.  In most cases, they bring quite good tastes in most stir-fry dishes, soups, dipping sauces and cold salad. Laobanma has obtained high popularity outside China. You can find them in Asian markets and groceries.
              </p>
              <p><strong style='color:orange'>Hunan chopped chili (湖南剁椒)</strong> is a slightly fermented chili paste with a much fresher taste with a slight touch of sour taste. Usually garlic and ginger are also called for common Hunan chopped chili. It is super great with steamed food like steamed fish head, steamed baby taro and etc.</p>
              <img style='width:800px; margin-left:65px; margin-bottom:15px'alt='Laoganma' src='https://www.chinasichuanfood.com/wp-content/uploads/2014/01/Chili-sauces-for-Chinese-sauces.jpg'>
          </div>

          <div class='panel' id='Oyster'>
              <p class='title'>Oyster Oil</p>
              <p><strong style='color:orange'>Oyster sauce (耗油)</strong> has a sweet and salty taste and with some smoky feeling. Commonly oyster sauce is made from oyster extracts, sugar, water, soy sauce and wheat flour. It is a seasoning for beef and fish recipes.Oyster sauce in mainly used in Guangdong Cuisine.</p>
              <img style='margin-left:130px; margin-bottom:15px' alt='Oyster Sauce' src='/assets/Oyster_Oil.jpg'>
          </div>

          <div class='panel' id='Douchi'>
              <p class='title'>Douchi</p>
              <p><strong style='color:orange'>Fermented black beans（豆豉）</strong> are made of fermented salted black beans and rice wine. They have a savory and slightly salty flavor. In most cases, fermented black beans can be used in steamed recipes for example steamed ribs and in grilled fish. Spicy black bean sauce is made from fermented black beans, spices and oil.  One of the most popular brand in China is Lao Gan Ma Black Bean Chilli Sauce, 280g.</p>
              <img style='width:400px; margin-left:250px; margin-bottom:30px' alt='Douchi' src='https://i.pinimg.com/564x/e1/eb/bc/e1ebbcabdb2e02bcd87ac8aa49d583c3.jpg'>
          </div>

          <div class='panel' id='Shacha'>
              <p class='title'>Sha Cha Sauce</p>
              <p><strong style='color:orange'>Sha Cha Sauce (沙茶酱)</strong> is a complex sauce popular in Southern China, Guangdong province and Taiwan area Mild Sha Cha Sauce  have a slightly sweet taste. There are several different varieties  in China. But all of them require a huge group of ingredients including peanuts, sesame paste and spices. The most popular way of using Sha Cha sauce is the dips of hot pot, especially Beef hot pot. Personally I love Taiwan bull head.</p>
              <img style='margin-left:100px' src='/assets/Shacha1.jpg'>
              <img style='width:400px; margin-left:90px; margin-bottom:30px' src='/assets/Shacha2.jpg'>
          </div>

          <div class='panel' id='BrownBean'>
              <p class='title'>Brown Bean Paste</p>
              <p><strong style='color:orange'>Brown bean paste (甜面酱)</strong> also known sweet bean paste is quite popular in northern part of China and in Sichuan area. It is the main dipping sauce for the famous Beijing roasted duck (北京烤鸭). Brown bean paste usually is made from soy beans and flour with a special fermentation process. The sweet tastes come from the maltose and glucose in the fermentation process, and the fresh tastes come from the amino acid. Then salt is added to balance the taste.</p>
              <img style='margin-left:330px; margin-bottom:15px' src='/assets/Brownbean1.jpg'>
              <img style='width:400px; margin-left:250px; margin-bottom:15px' src='/assets/BrownBean2.jpg' >
          </div>

          <div class='panel' id='Hoisin'>
              <p class='title'>Hoisin Sauce</p>
              <p><strong style='color:orange'>Hoisin sauce (海鲜酱)</strong> or hoisin paste has a dark, rich and spicy-sweet flavor. The color is reddish brown. Usually hoisin is made from soybeans, garlic and Chinese spices. It also can be used in dips for hot pot or marinating for meat like Hoisin pork with steamed buns</p>
              <img style='margin-left:100px' src='/assets/Hoisin1.jpg'>
              <img style='width:400px; margin-left:90px; margin-bottom:40px' src='/assets/Hoisin2.jpg'>
          </div>

          <div class='panel' id='Char'>
              <p class='title'>Char Siu Sauce</p>
              <p><strong style='color:orange'>Char siu sauce (叉烧酱)</strong> is quite popular in sorthern part of china. It is a salty and sweet sauce made of soy sauce, vinegar, chili, garlic, sugar and Chinese five spicy powders. It is a perfect sauce for chicken wings, char siu pork and ribs. You can buy store bough Char Siu Sauce or match one using other ingredients.</p>
              <img style='margin-left:330px; margin-bottom:15px' src='/assets/Charsiu.jpg'>
          </div>

          <div class='panel' id='Sesame'>
              <p class='title'>Sesame Oil & Paste</p>
              <p> <strong style='color:orange'> Sesame paste (芝麻酱) </strong> is made of roasted sesame seeds and it is also called as Majiang in China. From the color, we have white sesame paste and black sesame paste. It is the magic paste for lots of yummy Chinese dishes. With just a small amount, sesame paste can greatly improve the tastes of noodles (Wuhan Hot and dry noodles, Dan Dan noodles, Szechuan cold noodles).</p>
              <img style='width:400px; margin-left:270px; margin-bottom:20px' alt='sesame paste' src='/assets/Sesame_paste.jpg'>

              <p> <strong style='color:orange'> Sesame Oil (芝麻油/香油) </strong> Due to the distinctive nutty aroma and taste, sesame oil is one of the most important flavor enhancer in Chinese cooking. It almost can go well with everything Chinese like steamed eggs, stir fries, soups, dips and salad. In most cases, Chinese sesame oils are toasted pure sesame oil, either white sesame oil or black sesame oil.</p>
              <img style='margin-left:145px; margin-bottom:15px' alt='sesame oil' src='https://www.chinasichuanfood.com/wp-content/uploads/2014/01/Chinese-sauces-picture-2.jpg'>
          </div>

          <div class='panel' id='Vinegar'>
              <p class='title'> Cooking Wine & Vinegar</p>
              <p> <strong style='color:orange'> Chinese cooking wines (料酒) </strong> play really important roles in most Chinese seafood recipes and meat dishes. The highest quality (Huadiao) is a pure yellow wine. Based on yellow wine and white wine, Chinese developed their cooking wine (Liaojiao) by adding other seasonings.  Generally, Liaojiu is much cheaper than Huadiao.</p>
              <img style='width:900px; margin-left:14px' alt='cooking wine' src='https://www.chinasichuanfood.com/wp-content/uploads/2014/01/cookingwine.jpg'>

              <p> <strong style='color:orange'> Vinegar (醋) </strong> Generally we have white vinegar, black vinegar and red vinegar (mainly popular in Zhejiang province) in China. Unlike the fruit and wine vinegar popular in western cuisines, vinegar in China is fermented based on grains (rice usually glutinous rice),  wheat bran and sorghum. </p>
              <p>In most cases, black vinegar is widely used due to its aroma. Red vinegar is mainly used as dips or coloring for roasted meat. While white vinegar is used when sour taste is required but no influence on the color for example quick pickles (跳水泡菜).</p>
              <p>There is a very thick and different mature vinegar (老陈醋), mainly produced in Shanxi province. Mature vinegar is fermented based on peas, sorghum, wheat, salt and spices. It has a longer history than rice based vinegar. The taste of mature vinegar is also much stronger and more complex than other common cooking vinegars in China. As a result, it might be the best choice for dipping sauces.</p>
              <img style='width:900px; margin-left:14px; margin-bottom:20px' alt='vinegar' src='https://www.chinasichuanfood.com/wp-content/uploads/2014/01/Chinese-vinegar-.jpg'>
          </div>

        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src='/assets/sauces.js'></script>
        <% include partials/footer.ejs %>  
      </body>

    </html>
