<!DOCTYPE html>
<html>
    <head>
       <meta http-equiv='Content-Type' ; content='text/html'; charset='UTF-8'>
       <title>Spicy Chicken</title>
       <link rel='stylesheet' type='text/css' href='/assets/Kungpao.css'>
   </head>
   <body>
        <h6><% include partials/nav.ejs %></h6>
        <header></header>
        <h1>Spicy Chicken</h1>
          <img alt='Kungpao' src='/assets/SpicyChicken.jpg'>

          <% include partials/subscribe.ejs %>

          <p>In Chinese, we call the dish La-zi-ji, which mainly mean dried chili pepper chicken. Some restaurants may call it Chongqing Chicken since it is thought to be quite popular in Geleshan (歌乐山) area in the city of Chongqing. </p>
          <p>you might not have dared touch it for fear of burning a hole through your mouth. All those chili peppers can be intimidating, but I promise it is not as spicy as it looks, and you will love it to death!</p>

      <section id='SpicyChicken-recipe'>
        <h3>History</h3>
          <p> Laziji originated near Geleshan in Chongqing, where restaurateurs used small free-range chickens from nearby farms. This poultry became a signature export for Geleshan. </p>

        <h3>Cook's Note</h3>
          <div>1.  there are almost ALWAYS more chilies in this Chongqing chicken La Zi Ji dish than chicken. Usually, the dried red chili peppers just about cover the chicken when it’s presented at the table, and diners have to pick through and search for the meat. I wasn’t a fan of this. It just seemed like a waste of chilies. So I made some adjustment on the amount of chilies</div>

        <h3>Ingredients</h3>
           <ul class='checkbox'>
             <div><input type="checkbox" /> 4 chicken thighs </div>
             <div><input type="checkbox" /> 1.5 cup chili peppers </div>
             <div><input type="checkbox" /> 1.5 tbsp. Sichuan peppercorn </div>
             <div><input type="checkbox" /> 1 root ginger ,sliced </div>
             <div><input type="checkbox" /> 2 cloves garlic </div>
             <div><input type="checkbox" /> 2 scallions ,white part and green part separated andcut into small sections </div>
             <div><input type="checkbox" /> 1 tbsp. sesame seeds ,or as needed </div>
             <div><input type="checkbox" /> Cooking oil, sugar and salt </div>
           </ul>

        <h3>Marinating</h3>
           <ul class='dishes'>
              <li> 1 tbsp. soy sauce </li>
              <li> 1 tbsp. rice wine </li>
              <li> ¼ tsp. white pepper powder </li>
              <li> 2 tsp. cornstarch ,optional </li>
              <li> small pinch of salt </li>
          </ul>

       <h3>Instructions</h3>
         <p>1.Cut the dried chili peppers, discard the seeds and then soak the peppers in water for 15 minutes. We are doing this so we can fry the peppers later and prevent burn the peppers. </p>
         <img src='https://www.chinasichuanfood.com/wp-content/uploads/2013/11/Mala-chicken-steps-2.jpg'>
         <p>2.Remove the bone of the chicken thighs and then cut into small cubes. In a large bowl, marinade the chicken cubes with all the marinating sauce. Mix well and set aside for around 10 minutes. </p>
         <img src='https://www.chinasichuanfood.com/wp-content/uploads/2013/11/Mala-chicken-steps-3.jpg'>
         <p>3. Heat up oil in wok or pan for deep-frying. Heat until really hot (you can see bubbles when you put a chopstick in). Add the chicken cubes in and fry until golden brown. Transfer out. I recommend using a pan and fry the chicken by batches. On one side, it uses less oil and on the other side, the chicken is widely touched with the bottom of the pan, which can speed up the process greatly. After add the chicken cubes, let it stay for a short time (possible about 40 seconds to 1 minute) until one side is browed and then slightly stir the chicken and fry the other side. </p>
         <img src='https://www.chinasichuanfood.com/wp-content/uploads/2013/11/Mala-chicken-steps-4.jpg'>
         <img src='https://www.chinasichuanfood.com/wp-content/uploads/2013/11/Mala-chicken-steps-5.jpg'>
         <p>4.Get a clean wok and add only 1/2 tablespoon of oil and then fry the peppers for 1-2 minutes over slowest fire until most of them becomes dark red. Add Sichuan peppercorn in and continue frying for another 1 minute over slowest fire. </p>
         <img src='https://www.chinasichuanfood.com/wp-content/uploads/2013/11/Mala-chicken-steps-6.jpg'>
         <p>5.Push the spices to one side and add 1/2 tablespoon of oil in wok and fry ginger, scallion white and garlic until aromatic. </p>
         <img src='https://www.chinasichuanfood.com/wp-content/uploads/2013/11/Mala-chicken-steps-7.jpg'>
         <p>6.Return the chicken cubes, add roasted white sesame seeds, sugar, salt and scallion green sections. Mix well and serve immediately. </p>
         <img style='height:700px' src='https://www.chinasichuanfood.com/wp-content/uploads/2013/11/Mala-chicken-steps-8.jpg'>
     </section>

      <div class='readmore'>Read More</div>
      <div><i class='down'></i></div>

      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src='/assets/Kungpao.js'></script>
      <% include partials/footer.ejs %>

   </body>
</html>
