<!DOCTYPE html>
<html>
    <head>
       <meta http-equiv='Content-Type' ; content='text/html'; charset='UTF-8'>
       <title>Suan Cai Yu</title>
       <link rel='stylesheet' type='text/css' href='/assets/Kungpao.css'>
   </head>
   <body>
        <h6><% include partials/nav.ejs %></h6>
        <header></header>
        <h1>Suan Cai Yu</h1>
          <img alt='Kungpao' src='/assets/fish.jpg'>

          <% include partials/subscribe.ejs %>

          <p> Suan Cai Yu is a lesser known (but definitely not less delicious!) Sichuan dish that features a hot and sour broth with super tender fish slices</p>
          <p>Suan Cai Yu (酸菜鱼) can be translated as “hot and sour fish with pickled mustard greens”. The fish is thinly sliced and poached in a rich broth made from chicken stock, fish stock, and Sichuan pickles. The fish has a velvety and silky texture, with a piquant and zesty taste. It is a great dinner dish that you will find really comforting and satisfying on a chilly day.</p>

      <section id='SuanCaiYu-recipe'>

        <h3>Cook's Note</h3>
          <div>1.  You can use other types of fish, such as tilapia, but I personally always choose catfish over others, due to its fattier texture. To save prep time, get catfish nuggets instead of fillets.</div>
          <div>2.  At the end of cooking, you’ll need to create an herb-infused hot oil and pour it over the fish. It’s a Chinese cooking technique called ming you (明油). It makes the dish look better and adds great flavor to the broth. This step is very important in this dish. It adds a few calories but makes a big difference in flavor.  </div>

        <h3>Ingredients</h3>
           <ul class='checkbox'>
             <div><input type="checkbox" /> 1 fresh fish around 800g to 1000g </div>
             <div><input type="checkbox" /> 1 cup pickled mustard green </div>
             <div><input type="checkbox" /> 10 dried pepper flakes or more as needed </div>
             <div><input type="checkbox" /> 5 green onions or 1 scallion , separate the white part and green part 10 garlic cloves, peeled and sliced </div>
             <div><input type="checkbox" /> 1 inch root ginger </div>
             <div><input type="checkbox" /> 10 whole Sichuan peppercorn seeds 3 tablespoons cooking oil </div>
             <div><input type="checkbox" /> 4 tablespoons starch </div>
             <div><input type="checkbox" /> 1 teaspoon white pepper powder </div>
             <div><input type="checkbox" /> salt and cooking oil </div>
           </ul>

       <h3>Instructions</h3>
         <p>1. Wash the fish carefully and separate the bones and fish fillet. Then slice the fillet into really thin slices and cut the bones into large sections. </p>
         <img src='https://omnivorescookbook.com/wp-content/uploads/2015/11/1511_Suan-Cai-Yu-Cooking-Process_001.jpg'>
         <p>2. In a large bowl with clean water, soak and wash the fish slices until they become almost transparent. Transfer out and drain. </p>
         <p>3. Marinade the fish bones and fish fillet slices with salt, cornstarch and white pepper powder. Set aside. </p>
         <img src='http://i1.chuimg.com/30a06fa3d9514d1892d698fbe017028e_1602w_1069h.jpg@2o_50sh_1pr_1l_300w_90q_1wh'>
         <p>4. Heat up around 1 tablespoon cooking oil in a large wok, fry garlic, ginger, green onions and whole Sichuan peppercorn for around 1 to 2 minutes or until aroma. Add pickled mustard green for another minute. Pour around 2L of fresh cold water, simmer the soup for around 20 minutes. Taste the soup and add salt accordingly.</p>
         <img src='http://i2.chuimg.com/e0e234a39b094061ae4537a074ec5efd_1602w_1069h.jpg?imageView2/2/w/300/interlace/1/q/90'>
         <p>5. Pick the bones out and cook the in the soup prepared I previous step for around 5 minutes. Transfer all the content expects the soup to your serving bowl. </p>
         <p>6. Turn up the fire and add fish slices to cook for around 1 minute. Transfer all the content out to serving bowl too. </p>
         <img src='http://i2.chuimg.com/671ac3bec0b64d698a308058c1b733cf_1602w_1069h.jpg?imageView2/2/w/300/interlace/1/q/90'>
         <p>7. Prepare another pan, heat up 2 tablespoons of oil with dried chili peppers until really hot. Pour the oil to the serving bowl evenly on the surface.</p>
         <img style='height:700px' src='https://chinasichuanfood.com/wp-content/uploads/2014/12/suan-cai-yu-recipe-7.jpg'>
         <p>8. Garnish some chopped green onion and serve hot!</p>
     </section>

      <div class='readmore'>Read More</div>
      <div><i class='down'></i></div>

      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src='/assets/Kungpao.js'></script>
      <% include partials/footer.ejs %>

   </body>
</html>
