<form name='subscribe' action='/Subscribe' target='_blanck' method='POST'>
  <link rel='stylesheet' type='text/css' href='/assets/subscribe.css'>

  <fieldset>
    <legend> Subscribe </legend>
    <p class='none'>Keep updated when we release new recipes!</p>
    <input class='email' type='email' name='email' placeholder="email"><br>
    <div class='none'><input class='submit' type='submit' value='subscribe'></div>
  </fieldset>
</form>
