<!DOCTYPE html>
<html>
    <head>
       <meta http-equiv='Content-Type' ; content='text/html'; charset='UTF-8'>
       <title>Subscribe</title>
       <link rel='stylesheet' type='text/css' href='/assets/Kungpao.css'>
   </head>
   <body>
   <h6><% include partials/nav.ejs %></h6>
   <header></header>
   <h1>Thank you for your subscription !</h1>
     <h5 style="text-align:center; font-size:20px; font-weight: normal;">We will send you updates at <%= data.email %></h5>
     <br>
     <br>


     <% include partials/footer.ejs %>
  </body>

</html>
