<!DOCTYPE html>
<html>
    <head>
       <meta http-equiv='Content-Type' ; content='text/html'; charset='UTF-8'>
       <title>Yuxiang Shredded Pork</title>
       <link rel='stylesheet' type='text/css' href='/assets/Kungpao.css'>
   </head>
   <body>
        <h6><% include partials/nav.ejs %></h6>
        <header></header>
        <h1>Yuxiang Shredded Pork</h1>
          <img alt='Yuxiang' src='/assets/Yuxiang.jpg'>

          <% include partials/subscribe.ejs %>

          <p>The dish is featured by the taste-fish fragrant. In fact, the sauce used in this shredded pork stir-fry recipe is known as Chinese garlic sauce on many menu of Chinese restaurants offering Sichuan dishes. Then you may wonder what’s the special fish-fragrant sauce? Does it come from the fish? The fish-fragrant sauce in fact does not come from fish. Then why it gets the name as Fish-fragrant? There are two reasons; firstly the sauce is firstly used to cook fish in common Sichuan people’s cooking time and the second should be the fish similar smell.</p>
          <p>One of the most famous matches with shredded pork is fungus and Lettuce stem. There are other versions using winter bamboo shoots or peppers.</p>
      <section id='Yuxiang-recipe'>

        <h3>History</h3>
          <p>Yuxiang shredded pork appeared in recent decades. The creator is a chef from Sichuan who lived during the early Chinese republic. Yuxiang (sometimes translated as "fish flavor") is made of paolajiao, Chuan salt, soy, white sugar, bruised ginger, garlic and green star but no fish. This seasoning has nothing to do with fish, instead imitating the seasoning and method, which people in Sichuan use when cooking fish. The seasoning contains salty, sweet, sour, hot, and fresh tastes, making the food more delicious.</p>
          <p>It is said that, many years ago, a family liked eating fish very much and they were particular with the seasoning. They always put some green onion, ginger, garlic, soy, vinegar, wine and so on when they cook fish. One day, the wife put the remaining seasoning from last night into the food because she did not want to waste the seasoning. She at first thought her husband would not like it, but unexpectedly, he liked it very much.</p>
          <p>Later, this food was improved by many Sichuan people. Other dishes using yuxiang have also appeared in Sichuan menus, for example, as yuxiang pork liver, yuxiang eggplant, and yuxiang three silk (魚香三絲).</p>

        <h3>Cook's Note</h3>
          <div>1. Sichuan pickled chilli (四川泡辣椒) is the soul of Sichuan shredded pork with garlic sauce. It gives the dish a sharp spicy taste as well as an unique fragrance. If you can't find this, you may use other type of pickled chilli (e.g. Spanish ones) </div>
          <div>2. As you might have realised, there is lots of chopping involved in preparing Sichuan shredded pork with garlic sauce. Every ingredient is either cut into thin strips or finely minced. This seems a labouring job. But believe me, finely chopped ingredients does make a difference to the final taste. </div>

        <h3>Ingredients</h3>
           <ul class='checkbox'>
             <div><input type="checkbox" /> 8 ounces pork, julienned </div>
             <div><input type="checkbox" /> 2 teaspoons minced ginger </div>
             <div><input type="checkbox" /> 2 teaspoons minced garlic </div>
             <div><input type="checkbox" /> 1 heaping cup of rehydrated (or fresh) fungus </div>
             <div><input type="checkbox" /> 8 ounces celtuce, peeled and julienned </div>
             <div><input type="checkbox" /> A small handful of dried chili peppers </div>
             <div><input type="checkbox" /> 1 teaspoon Shaoxing wine </div>
             <div><input type="checkbox" /> 2 teaspoon light soy sauce </div>
             <div><input type="checkbox" /> ¼ teaspoon ground white pepper </div>
             <div><input type="checkbox" /> 1 teaspoon cornstarch </div>
             <div><input type="checkbox" /> 1½ tablespoons rice vinegar </div>
             <div><input type="checkbox" /> 1 tablespoon Doubanjiang </div>
             <div><input type="checkbox" /> Cooking oil and water </div>
           </ul>

        <h3>Mix sauce for stir fry</h3>
          <ul class='dishes'>
            <li> 1½ tablespoons rice vinegar </li>
            <li> 1½ tablespoons sugar </li>
            <li> 1 tablespoon light soy sauce </li>
            <li> ½ tablespoon Shaoxing wine </li>
            <li> 1 cup water </li>
            <li> 1½ tablespoons cornstarch </li>
          </ul>

        <h3>Marinade pork</h3>
         <ul class='dishes'>
           <li>8 ounces pork, julienned</li>
           <li>2 teaspoons oil</li>
           <li>1 teaspoon Shaoxing wine</li>
           <li>2 teaspoon light soy sauce</li>
           <li>¼ teaspoon ground white pepper</li>
           <li>1 teaspoon cornstarch</li>
           <li>1½ tablespoons water</li>
         </ul>

       <h3>Instructions</h3>
         <p>1. Combine the pork with the marinade ingredients, and set aside for 20 minutes while you prepare the ingredients for the rest of the dish--namely, the celtuce, wood ears, ginger, garlic, etc.</p>
         <img style='height:700px' src='https://thewoksoflife.com/wp-content/uploads/2017/07/pork-garlic-sauce-7.jpg'>
         <p>2. Prepare the sauce--mix all of the sauce ingredients together and set aside.</p>
         <p>3. preheat a clean wok until it starts to smoke lightly (to prevent sticking). Now turn up the heat to high, and add one tablespoon of oil to the wok. Cook the marinated pork just until it turns opaque. Turn off the heat, transfer the pork to a dish, and set aside.</p>
         <img src='https://thewoksoflife.com/wp-content/uploads/2017/07/pork-garlic-sauce-8.jpg'>
         <p>4. Turn the heat on to medium. Add two tablespoons of oil and the spicy bean sauce. Stir lightly,  and cook for about a minute until the oil turns red, adjusting the heat to avoid burning if needed.</p>
         <p>5. Add the ginger, garlic, and dried chili peppers. Stir for about 15 seconds. </p>
         <img src='https://thewoksoflife.com/wp-content/uploads/2017/07/pork-garlic-sauce-9.jpg'>
         <p>6. Add the fungus, turn up the heat, and stir fry for 30 seconds (you can add a few drops of water if it’s too dry), making sure everything is well-combined.</p>
         <p>7. Once the liquid in the wok starts to bubble, give your sauce mixture a good stir, and add it along with the celtuce and cooked pork.</p>
         <img src='https://thewoksoflife.com/wp-content/uploads/2017/07/pork-garlic-sauce-11.jpg'>
         <p>8. Stir fry quickly and combine everything. Serve it with rice!</p>
         <img style='height:700px' src='https://thewoksoflife.com/wp-content/uploads/2017/07/pork-garlic-sauce-3.jpg'>
     </section>

      <div class='readmore'>Read More</div>
      <div><i class='down'></i></div>

      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src='/assets/Kungpao.js'></script>
      <% include partials/footer.ejs %>

   </body>
</html>
